*{
    margin: 0;
    box-sizing: content-box;
    padding: 0;
}

#main-container{
    width: 70%;
    padding-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    gap: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#text-container{
    text-align: center;
    flex: 1;
}

p, a, li{
    margin-bottom: 10px;
    font-size: 1.75rem;
    list-style: none;
}

#bg-image{
    object-fit:fill; 
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: -1;
    border-radius: 25px;
}

#user-image{
    object-fit: contain;
    width: 75%;
    height: 75%;
    border-radius: 25px;
}

.red{
    color: red;
}
